.loadingContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 70vh;
  color: var(--foreground-muted);
}

.spinner {
  animation: spin 1s linear infinite;
  height: 5rem; /* 80px */
  width: 5rem; /* 80px */
  border-radius: 50%;
  border-top: 3px solid var(--primary-color);
  border-bottom: 3px solid var(--primary-color);
  border-left: 3px solid transparent;
  border-right: 3px solid transparent;
}

.loadingText {
  font-size: 1.125rem; /* 18px */
  margin-top: 1.5rem;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
